<app-blockui [target]="blockUIPanel" [blocked]="blockUI" [message]="blockUIMessage" />

<div class="customer-area">
   <div class="welcome">
      <h1 class="user-name"> Bem vindo à <b> Calculadora de Preços </b> </h1>
   </div>

   <div class="grid gap-2 grid-cols-12">
      <div class="col-span-12 lg:col-span-6 p-card card-secondary">
         <div class="card-inner">
            <p class="title"> Suporte </p>

            <div class="support">
               <div class="title">
                  <span class="fab fa-whatsapp"> </span>
                  <p> WhatsApp </p>
               </div>

               <div class="data">
                  <p> (54) 9 9968-5468 </p>
               </div>

               <div class="button">
                  <app-button [label]="'Iniciar conversa'" [type]="ButtonType.Button" [icon]="'fab fa-whatsapp'" [fluid]="true" (onClick)="contactSupport()"></app-button>
               </div>
            </div>
         </div>
      </div>

      <div class="col-span-12 lg:col-span-6 p-card card-secondary">
         <div class="card-inner">
            <p class="title"> Redes Sociais </p>

            <div class="support">
               <div class="title-other">
                  <span class="fab fa-instagram"> </span>
                  <a href="https://www.instagram.com/confiancaassessoriagpe/" target="_blank"> Instagram </a>
               </div>

               <div class="title-other">
                  <span class="fab fa-facebook"> </span>
                  <a href="https://www.facebook.com/p/Confian%C3%A7a-Assessoria-e-Contabilidade-100064116517735/?locale=pt_BR" target="_blank"> Facebook </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>