html {
    .component {
        height: calc(100vh - 9.8rem);

        @media screen and (max-width: 991px) {
            height: calc(100vh - 10.75rem);
        }
    }

    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 1rem;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag-animating {
        transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
    }

    .license-validation {
        padding: .25rem 2rem 1rem;

        .aditional-message {
            margin-top: .5rem;
            font-size: .75rem;
        }
    }

    .tour {
        padding: 1.5rem;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 17px;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        .content {
            white-space: break-spaces;
            margin-bottom: 2rem;
            font-size: 14px;

            .optional {
                color: yellow;
            }

            .required {
                color: red;
            }
        }

        .footer {
            display: flex;
            align-items: center;

            .left {
                float: left;
                width: 100%;
            }

            .center {
                text-align: center;
                width: 100%;
            }

            .right {
                float: right;
                width: 100%;
            }
        }
    }

    .disabled {
        opacity: var(--p-disabled-opacity);
        background: var(--p-inputtext-disabled-background);
        color: var(--p-inputtext-disabled-color);
        cursor: default;
        pointer-events: none;
    }

    .p-panel {
        .p-panel-header {
            display: none;
        }

        border: none;
    }

    .divider {
        width: 100%;
        margin: 1rem 0;
        border-bottom: 1px solid;
    }

    .text-disabled {
        font-style: italic;
        text-decoration: line-through;
    }

    .container-message {
        display: flex;
        align-items: center;
        width: 100%;

        .icon {
            font-size: 1rem;
            margin-right: 1rem;
            padding-top: .5rem;
        }

        .message {
            font-size: 1rem;
        }
    }

    .p-confirmdialog {
        .p-dialog-content {
            .p-confirmdialog-message {
                white-space: break-spaces;
                width: calc(100% - 80px);
                word-break: break-word;
            }
        }
    }

    .p-dialog {
        .p-dialog-content {
            padding: 1rem 1rem 2.5rem 1.5rem;
        }

        .p-dialog-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;

            p-button {
                width: 100%;
            }

            .p-confirmdialog-accept-button {
                width: 100%;
            }

            .p-confirmdialog-reject-button {
                width: 100%;
            }
        }
    }

    .p-dialog:not(.p-dialog-maximized):not(.dialog-request-log) {
        max-width: 600px;
        width: 600px;
    }

    .drawer-register {
        width: 55rem;

        .p-drawer-header {
            padding: 2rem 2rem 2rem 2.5rem;

            .p-drawer-title {
                font-size: 1.25rem;
            }
        }

        .drawer-footer {
            display: flex;
            justify-content: flex-end;

            .button {
                margin-left: .5rem;
            }
        }

        .p-accordionheader {
            span {
                font-size: 1.25rem;
            }
        }

        .accordion-header {
            text-align: left;
            width: 100%;
            margin-left: 1rem;
        }
    }

    .drawer-register-secondary {
        width: 45rem;

        .p-drawer-header {
            padding: 2rem 2rem 2rem 2.5rem;

            .p-drawer-title {
                font-size: 1.25rem;
            }
        }

        .drawer-footer {
            display: flex;
            justify-content: flex-end;

            .button {
                margin-left: .5rem;
            }
        }

        .p-accordionheader {
            span {
                font-size: 1.25rem;
            }
        }

        .accordion-header {
            text-align: left;
            width: 100%;
            margin-left: 1rem;
        }
    }

    .p-popover-content {
        .card-text {
            white-space: break-spaces;
        }
    }

    @media screen and (max-width: 991px) {
        .p-dialog:not(.p-dialog-maximized):not(.dialog-request-log) {
            max-width: 90%
        }

        .drawer-register {
            width: 100% !important;
        }

        .drawer-register-secondary {
            width: 100% !important;
        }
    }

    @media screen and (max-width: 585px) {
        font-size: 12px !important;
    }
}